@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: grid;
  place-content: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.calculator{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 10px;
}

.screen{
  grid-column: 1 / -1;
  color: #fff;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.button{
  display: grid;
  place-content: center;
  background-color: rgb(54,52,52);
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.button:hover{
background-color: gray;
}

.gray-btn{
  background-color: gray;
  color: black;
}

.gray-btn:hover{
  background-color: #fff;

}

.orange-btn{
  background-color: orange;

}

.orange-btn:hover{
  background-color: #fff;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}